.hs-fidelidade-rich-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  span,
  div {
    color: var(--hsFidelidade--richText__textColor);
  }

  a:not(.hs-fidelidade-button) {
    color: var(--hsFidelidade--richText__linkColor);
    -webkit-text-decoration: var(--hsFidelidade--richText__textDecoration);
    text-decoration: var(--hsFidelidade--richText__textDecoration);
    -webkit-text-decoration-color: var(--hsFidelidade--richText__textDecorationColor);
    text-decoration-color: var(--hsFidelidade--richText__textDecorationColor);
  }

  a:not(.hs-fidelidade-button):hover,
  a:not(.hs-fidelidade-button):focus {
    color: var(--hsFidelidade--richText__linkHoverColor);
    -webkit-text-decoration: var(--hsFidelidade--richText__linkHoverTextDecoration);
    text-decoration: var(--hsFidelidade--richText__linkHoverTextDecoration);
    -webkit-text-decoration-color: var(--hsFidelidade--richText__linkHoverTextDecorationColor);
    text-decoration-color: var(--hsFidelidade--richText__linkHoverTextDecorationColor);
  }
}

.hs-fidelidade-rich-text--grids > *:last-child {
  margin-block-end: 0;
}
