.hs-fidelidade-countdown-timer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--hsFidelidade--spacing--12, 12px);
}

@media (width >= 767px) {
  .hs-fidelidade-countdown-timer {
    gap: var(--hsFidelidade--spacing--20, 20px);
  }
}

.hs-fidelidade-countdown-timer__time-unit-container {
  display: flex;

  /* Width logic:
   * - Tries to be 200px wide by default
   * - Won't go smaller than 25% of container width
   * - Will shrink below 200px if 25% of container is smaller
   * - Will expand beyond 200px if 25% of container is larger
  */
  width: max(min(200px, 25%), 25%);
  flex-direction: column;
  align-items: center;
  gap: var(--hsFidelidade--spacing--8, 8px);
}

.hs-fidelidade-countdown-timer__value {
  width: 100%;
  padding: var(--hsFidelidade--spacing--16, 16px) var(--hsFidelidade--spacing--12, 12px);
  border: var(--hsFidelidade--countdownTimer__borderThickness) solid var(--hsFidelidade--countdownTimer__borderColor);
  border-radius: var(--hsFidelidade-rounded);
  color: var(--hsFidelidade--countdownTimer__textColor);
  font-size: clamp(1rem, 5vw + 1rem, var(--hsFidelidade--display1__fontSize));
  line-height: 1;
  text-align: center;
}

.hs-fidelidade-countdown-timer__value--filled {
  background-color: var(--hsFidelidade--countdownTimer__fillColor);
}

@media (width >= 767px) {
  .hs-fidelidade-countdown-timer__value {
    padding: var(--hsFidelidade--spacing--32, 32px) var(--hsFidelidade--spacing--24, 24px);
  }
}

.hs-fidelidade-countdown-timer__label {
  width: 100%;
  color: var(--hsFidelidade--countdownTimer__labelTextColor);
  font-size: clamp(0.75rem, 1vw + 0.75rem, var(--hsFidelidade--h4__fontSize));
  text-align: center;
}

.hs-fidelidade-countdown-timer__completed-message {
  color: var(--hsFidelidade--countdownTimer__labelTextColor);
  text-align: center;
}
