.hs-fidelidade-card {
  display: var(--hsFidelidade--card--display, flex);
  padding: var(--hsFidelidade--card--padding, var(--hsFidelidade--spacing--32, 32px));
  flex: 1;
  flex-direction: column;
  align-items: center;
}

@media (width >= 1000px) {
  .hs-fidelidade-card--row {
    flex-direction: row;
  }
}
