.hs-fidelidade-list-container {
  padding-left: 0;
}

.hs-fidelidade-list-container--grids {
  margin-block-end: 0;
}

.hs-fidelidade-list-container__item {
  display: flex;
  margin-bottom: var(--hsFidelidade--spacing--16, 16px);
  align-items: flex-start;
  color: var(--hsFidelidade--list__textColor);
  gap: var(--hsFidelidade--spacing--8, 8px);
}

.hs-fidelidade-list-container--grids .hs-fidelidade-list-container__item:last-child {
  margin-block-end: 0;
}

.hs-fidelidade-list-container__icon-container {
  border-radius: 100%;
  background: var(--hsFidelidade--list__accentColor);
}

.hs-fidelidade-list-container__icon {
  display: block;
  height: 1.75rem;
  width: 1.75rem;
  padding: var(--hsFidelidade--spacing--8, 8px);
  flex: 0 0 1.75rem;
  fill: var(--hsFidelidade--list__sectionBackgroundColor);
}
