.hs-fidelidade-placeholder {
  display: flex;
  height: 100%;
  width: 100%;
  padding: var(--hsFidelidade--spacing--16, 16px) var(--hsFidelidade--spacing--24, 24px) 0 var(--hsFidelidade--spacing--24, 24px);
  border: 1px dashed #516f90;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fae6;
  color: #425b76;
  text-align: center;

  h5 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: var(--hsFidelidade--spacing--20, 20px);
    font-size: var(--hsFidelidade--heading--h6__fontSize, 14px);
  }
}

.hs-fidelidade-placeholder__icon {
  width: var(--hsFidelidade--icon--medium__size, 24px);
  margin-bottom: var(--hsFidelidade--spacing--10, 10px);
  filter: invert(0.5);
}
