.hs-fidelidade-social-share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--hsFidelidade--socialShare__justifyContent);
  gap: var(--hsFidelidade--socialShareIcon__gap);
}

.hs-fidelidade-social-share__icon {
  height: var(--hsFidelidade--socialShareIcon__size);
  width: var(--hsFidelidade--socialShareIcon__size);
}

.hs-fidelidade-social-share__link {
  display: flex;
  padding: var(--hsFidelidade--socialShareIcon__padding);
  border: var(--hsFidelidade--socialShareIcon__borderWidth) solid var(--hsFidelidade--socialShareIcon__borderColor);
  border-radius: var(--hsFidelidade--socialShareIcon__shape);
  align-items: center;
  justify-content: center;
  background-color: var(--hsFidelidade--socialShareIcon__backgroundColor);

  svg {
    fill: var(--hsFidelidade--socialShareIcon__color);
  }

  &:hover {
    border-color: var(--hsFidelidade--socialShareIcon__hover--borderColor);
    border-width: var(--hsFidelidade--socialShareIcon__hover--borderWidth);
    background-color: var(--hsFidelidade--socialShareIcon__hover--backgroundColor);

    svg {
      fill: var(--hsFidelidade--socialShareIcon__hover--color);
    }
  }

  &:active {
    border-color: var(--hsFidelidade--socialShareIcon__active--borderColor);
    border-width: var(--hsFidelidade--socialShareIcon__active--borderWidth);
    background-color: var(--hsFidelidade--socialShareIcon__active--backgroundColor);

    svg {
      fill: var(--hsFidelidade--socialShareIcon__active--color);
    }
  }

  &:focus {
    outline: 2px solid #53acff;
    outline-offset: 2px;
  }
}
