.hs-fidelidade-site-header__mobile-menu {
  --hsFidelidade--mobileMenu__zIndex: 100;
}

.menuItem--flyout {
  padding: 0;
  border-color: white; /* hook up to module settings */

  /* Flyout specific styles for menu items with depth > 1 */
  border-style: solid;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
}

.menuItem--flyout:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-width: 10px;
}

.menuItem--flyout:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menuItemLinkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItemLink {
  display: block;
  padding: var(--hsFidelidade--spacing--8, 8px);
  flex-grow: 1;
}

.menuArrow {
  display: block;
  height: 100%;
  cursor: pointer;
  font-size: var(--hsFidelidade--body--large__fontSize);
  line-height: 1;
  margin-inline-start: var(--hsFidelidade--spacing--8, 8px);
}

@media (width <= 768px) {
  .menuArrow {
    padding-inline-end: var(--hsFidelidade--spacing--16, 16px);
  }
}

.submenu {
  z-index: calc(var(--hsFidelidade--menu__submenu--zIndex, 100) + 10);
  padding: 0;
}

.submenu--flyout {
  position: absolute;
  right: var(--hsFidelidade--flyoutSubMenu__right, 'auto');
  bottom: var(--hsFidelidade--flyoutSubMenu__bottom, 'auto');
}

.submenu--flyout-depth-1 {
  top: var(--hsFidelidade--firstFlyoutMenu__top, 100%);
  left: var(--hsFidelidade--firstFlyoutMenu__left, 0);
}

.submenu--flyout-depth-gt-1 {
  top: var(--hsFidelidade--flyoutSubMenu__top, calc(-1 * var(--hsFidelidade--spacing--12, 12px)));
  left: var(--hsFidelidade--flyoutSubMenu__left, calc(100% + var(--hsFidelidade--spacing--12, 12px)));
}
