.hs-fidelidade-social-follow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: var(--hsFidelidade--socialFollow__justifyContent, flex-start);
  gap: var(--hsFidelidade--socialFollowIcon__gap);
}

.hs-fidelidade-social-follow__link {
  display: flex;
  padding: var(--hsFidelidade--socialFollowIcon__padding);
  border-color: var(--hsFidelidade--socialFollowIcon__borderColor);
  border-radius: var(--hsFidelidade--socialFollowIcon__shape);
  border-style: solid;
  border-width: var(--hsFidelidade--socialFollowIcon__borderWidth);
  align-items: center;
  justify-content: center;
  background-color: var(--hsFidelidade--socialFollowIcon__backgroundColor);

  :global(svg) {
    fill: var(--hsFidelidade--socialFollowIcon__color);
  }

  &:hover {
    border-color: var(--hsFidelidade--socialFollowIcon__hover--borderColor);
    border-width: var(--hsFidelidade--socialFollowIcon__hover--borderWidth);
    background-color: var(--hsFidelidade--socialFollowIcon__hover--backgroundColor);

    :global(svg) {
      fill: var(--hsFidelidade--socialFollowIcon__hover--color);
    }
  }

  &:active {
    border-color: var(--hsFidelidade--socialFollowIcon__active--borderColor);
    border-width: var(--hsFidelidade--socialFollowIcon__active--borderWidth);
    background-color: var(--hsFidelidade--socialFollowIcon__active--backgroundColor);

    :global(svg) {
      fill: var(--hsFidelidade--socialFollowIcon__active--color);
    }
  }

  &:focus {
    outline: 2px solid #53acff;
    outline-offset: 2px;
  }
}

.hs-fidelidade-social-follow__icon {
  height: var(--hsFidelidade--socialFollowIcon__size);
  width: var(--hsFidelidade--socialFollowIcon__size);
}
