:root {
    /* Border radius based on shape */
    --hsFidelidade-sharp: 0;
    --hsFidelidade-rounded--extra-small: 4px;
    --hsFidelidade-rounded--small: 8px;
    --hsFidelidade-rounded: 16px;
    --hsFidelidade-rounded--large: 24px;
    --hsFidelidade-rounded--extra-large: 32px;
    --hsFidelidade-circle: 50%;
}
