{% set base_colors = theme.group_foundation.group_colors.group_base_colors %}
{% set accent_colors = theme.group_foundation.group_colors.group_accent_colors %}

:root {
  /* Base colors */
  --hsFidelidade--color--base--1: {{ base_colors.color_1.color }};
  --hsFidelidade--color--base--2: {{ base_colors.color_2.color }};
  --hsFidelidade--color--base--3: {{ base_colors.color_3.color }};

  /* Accent colors */
  --hsFidelidade--color--accent--1: {{ accent_colors.color_1.color }};
  --hsFidelidade--color--accent--2: {{ accent_colors.color_2.color }};
  --hsFidelidade--color--accent--3: {{ accent_colors.color_3.color }};
}
