{% set base_size = 16 %}
{% set base_font = theme.group_foundation.group_fonts.base_font %}
{% set body_font_1 = theme.group_foundation.group_fonts.group_font_elements.group_body_font.group_paragraph %}
{% set quotes = theme.group_foundation.group_fonts.group_font_elements.group_other_elements.group_block_quote %}
{% set captions = theme.group_foundation.group_fonts.group_font_elements.group_other_elements.group_caption %}
{% set headings = theme.group_foundation.group_fonts.group_font_elements.group_headings %}
{% set links = theme.group_elements.group_links %}

{% set primary_links = theme.group_elements.group_links.group_primary_links %}
{% set secondary_links = theme.group_elements.group_links.group_secondary_links %}

:root {

  /* Text spacing */

  --hsFidelidade--text--extraSmall__margin: 0 0.75rem; /* 12px */
  --hsFidelidade--text--small__margin: 0 1.25rem; /* 20px */
  --hsFidelidade--text__margin: 0 2rem; /* 32px */
  --hsFidelidade--text--large__margin: 0 2.5rem; /* 40px */
  --hsFidelidade--text--extraLarge__margin: 0 4rem; /* 64px */

  /* Body */

  --hsFidelidade--baseText__fontSize: {{ base_size ~ "px" }};
  --hsFidelidade--body__font: {{ body_font_1.font.font }};
  --hsFidelidade--body--small__fontSize: {{ body_font_1.font.size * 0.889 / base_size ~ "rem" }};
  --hsFidelidade--body__fontSize: {{ body_font_1.font.size / base_size ~ "rem" }};
  --hsFidelidade--body--large__fontSize: {{ body_font_1.font.size * 1.333 / base_size ~ "rem" }};
  --hsFidelidade--body--extraLarge__fontSize: {{ body_font_1.font.size * 1.777 / base_size ~ "rem" }};
  --hsFidelidade--body__fontWeight: {{ body_font_1.font.styles["font-weight"] }};
  --hsFidelidade--body__fontStyle: {{ body_font_1.font.styles["font-style"] }};
  --hsFidelidade--body__lineHeight: 1.55;

  /* Primary links */

  --hsFidelidade--link--primary__fontColor: {{ primary_links.group_default_state.text_color.color }};

  {% if primary_links.group_default_state.show_underline %}
    --hsFidelidade--link--primary__textDecoration: underline;
    --hsFidelidade--link--primary__textDecorationColor: {{ primary_links.group_default_state.underline_color.color }};
  {% else %}
    --hsFidelidade--link--primary__textDecoration: none;
    --hsFidelidade--link--primary__textDecorationColor: transparent;
  {% endif %}

  /* Hover state */

  --hsFidelidade--link--primary__hover--fontColor: {{ primary_links.group_hover_state.text_color.color }};

  {% if primary_links.group_hover_state.show_underline %}
    --hsFidelidade--link--primary__hover--textDecoration: underline;
    --hsFidelidade--link--primary__hover--textDecorationColor: {{ primary_links.group_hover_state.underline_color.color }};
  {% else %}
    --hsFidelidade--link--primary__hover--textDecoration: none;
    --hsFidelidade--link--primary__hover--textDecorationColor: transparent;
  {% endif %}

  /* Secondary links */

  --hsFidelidade--link--secondary__fontColor: {{ secondary_links.group_default_state.text_color.color }};

  {% if secondary_links.group_default_state.show_underline %}
    --hsFidelidade--link--secondary__textDecoration: underline;
    --hsFidelidade--link--secondary__textDecorationColor: {{ secondary_links.group_default_state.underline_color.color }};
  {% else %}
    --hsFidelidade--link--secondary__textDecoration: none;
    --hsFidelidade--link--secondary__textDecorationColor: transparent;
  {% endif %}

  /* Hover state */

  --hsFidelidade--link--secondary__hover--fontColor: {{ secondary_links.group_hover_state.text_color.color }};

  {% if secondary_links.group_hover_state.show_underline %}
    --hsFidelidade--link--secondary__hover--textDecoration: underline;
    --hsFidelidade--link--secondary__hover--textDecorationColor: {{ secondary_links.group_hover_state.underline_color.color }};
  {% else %}
    --hsFidelidade--link--secondary__hover--textDecoration: none;
    --hsFidelidade--link--secondary__hover--textDecorationColor: transparent;
  {% endif %}

  /* Headings */

  /* Percentage change for the heading font sizes on mobile */
  --hsFidelidade--heading__tablet-modifier: 0.8;

  --hsFidelidade--heading__lineHeight: 1.2;

  --hsFidelidade--display1__font: {{ base_font.font }};
  --hsFidelidade--display1__fontSize: 6.313rem;

  --hsFidelidade--display2__font: {{ base_font.font }};
  --hsFidelidade--display2__fontSize: 4.75rem;

  --hsFidelidade--h1__font: {{ headings.group_heading_1.font.font }};
  --hsFidelidade--h1__fontSize: {{ headings.group_heading_1.font.size / base_size ~ "rem" }};
  --hsFidelidade--h1__fontWeight: {{ headings.group_heading_1.font.styles["font-weight"] }};
  --hsFidelidade--h1__fontStyle: {{ headings.group_heading_1.font.styles["font-style"] }};

  --hsFidelidade--h2__font: {{ headings.group_heading_2.font.font }};
  --hsFidelidade--h2__fontSize: {{ headings.group_heading_2.font.size / base_size ~ "rem" }};
  --hsFidelidade--h2__fontWeight: {{ headings.group_heading_2.font.styles["font-weight"] }};
  --hsFidelidade--h2__fontStyle: {{ headings.group_heading_2.font.styles["font-style"] }};

  --hsFidelidade--h3__font: {{ headings.group_heading_3.font.font }};
  --hsFidelidade--h3__fontSize: {{ headings.group_heading_3.font.size / base_size ~ "rem" }};
  --hsFidelidade--h3__fontWeight: {{ headings.group_heading_3.font.styles["font-weight"] }};
  --hsFidelidade--h3__fontStyle: {{ headings.group_heading_3.font.styles["font-style"] }};

  --hsFidelidade--h4__font: {{ headings.group_heading_4.font.font }};
  --hsFidelidade--h4__fontSize: {{ headings.group_heading_4.font.size / base_size ~ "rem" }};
  --hsFidelidade--h4__fontWeight: {{ headings.group_heading_4.font.styles["font-weight"] }};
  --hsFidelidade--h4__fontStyle: {{ headings.group_heading_4.font.styles["font-style"] }};

  --hsFidelidade--h5__font: {{ headings.group_heading_5.font.font }};
  --hsFidelidade--h5__fontSize: {{ headings.group_heading_5.font.size / base_size ~ "rem" }};
  --hsFidelidade--h5__fontWeight: {{ headings.group_heading_5.font.styles["font-weight"] }};
  --hsFidelidade--h5__fontStyle: {{ headings.group_heading_5.font.styles["font-style"] }};

  --hsFidelidade--h6__font: {{ headings.group_heading_6.font.font }};
  --hsFidelidade--h6__fontSize: {{ headings.group_heading_6.font.size / base_size ~ "rem" }};
  --hsFidelidade--h6__fontWeight: {{ headings.group_heading_6.font.styles["font-weight"] }};
  --hsFidelidade--h6__fontStyle: {{ headings.group_heading_6.font.styles["font-style"] }};


  /* Quotes */

  --hsFidelidade--quotes__font: {{ quotes.font.font }};
  --hsFidelidade--quotes__fontColor: {{ quotes.text_color.color }};
  --hsFidelidade--quotes__fontSize: {{ quotes.font.size / base_size ~ "rem" }};
  --hsFidelidade--quotes__fontWeight: {{ quotes.font.styles["font-weight"] }};
  --hsFidelidade--quotes__fontStyle: {{ quotes.font.styles["font-style"] }};

    /* Captions */

  --hsFidelidade--captions__font: {{ captions.font.font }};
  --hsFidelidade--captions__fontSize: {{ captions.font.size / base_size ~ "rem" }};
  --hsFidelidade--captions__fontWeight: {{ captions.font.styles["font-weight"] }};
  --hsFidelidade--captions__fontStyle: {{ captions.font.styles["font-style"] }};
  --hsFidelidade--captions__case: {{ captions.case }};

  /* Images */

  --hsFidelidade--rteImages__margin: 2rem; /* 32px */
}
