/*
  Spacing variables are:
  --hsFidelidade--menuItem__padding
  --hsFidelidade--menuItem__margin
  --hsFidelidade--menu--topLevel__gap
  --hsFidelidade--flyoutSubMenu__top
  --hsFidelidade--flyoutSubMenu__left
  --hsFidelidade--flyoutSubMenu__right
  --hsFidelidade--flyoutSubMenu__bottom
  --hsFidelidade--firstFlyoutMenu__top
  --hsFidelidade--firstFlyoutMenu__left
  --hsFidelidade--firstFlyoutMenu__right
  --hsFidelidade--firstFlyoutMenu__bottom
 */

.hs-fidelidade-menu {
  display: flex;
}

.hs-fidelidade-menu,
.hs-fidelidade-menu ul {
  list-style: none;
}

.hs-fidelidade-menu li {
  position: relative;
}

.hs-fidelidade-menu--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.hs-fidelidade-menu--vertical {
  flex-direction: column;
}

.hs-fidelidade-menu {
  gap: var(--hsFidelidade--menu--topLevel__gap, 0);
}

.hs-fidelidade-menu--desktop {
  margin: 0;
}

.hs-fidelidade-menu__flyout-submenu {
  min-width: max-content;
  max-width: 250px;
  white-space: nowrap;
  overflow-wrap: break-word;
  padding: 20px;
  border: 1px solid #f7f7f7;
  border-radius: 8px;
  background-color: white;
}
