.hs-fidelidade-site-header {
  position: relative;
  z-index: 10;
  height: auto;
  width: 100%;
  background-color: var(--hsFidelidade--siteHeader__menuBackgroundColor);
  padding-block: var(--hsFidelidade--spacing--24, 24px);
  padding-inline: var(--hsFidelidade--spacing--48, 48px);

  @media (width <= 1100px) {
    padding-inline: var(--hsFidelidade--spacing--32, 32px);
  }
}

.hs-fidelidade-site-header--has-language-switcher {
  @media (width <= 1215px) {
    padding-inline: var(--hsFidelidade--spacing--32, 32px);
  }
}

.hs-fidelidade-site-header__header-container {
  display: flex;
  width: 100%;
  max-width: var(--hsFidelidade--contentWrapper--wide__maxWidth);
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--hsFidelidade--spacing--24, 24px);
}

.hs-fidelidade-site-header__logo-container {
  margin-right: auto;
  flex: 0 1 auto;

  @media (width >= 769px) {
    flex: 0 0 auto;
  }
}

.hs-fidelidade-site-header__main-nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  :global(.hs-fidelidade-menu) {
    /* stylelint-disable-line selector-pseudo-class-no-unknown */
    gap: var(--hsFidelidade--spacing--12, 12px);

    @media (width >= 800px) {
      gap: var(--hsFidelidade--spacing--16, 16px);
    }

    @media (width >= 900px) {
      gap: var(--hsFidelidade--spacing--32, 32px);
    }
  }

  li {
    border-color: var(--hsFidelidade--siteHeader__menuBackgroundColor);
    color: var(--hsFidelidade--siteHeader__menuTextColor);

    a,
    :global(.hs-fidelidade-menu__menu-item-span) {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      padding: var(--hsFidelidade--spacing--8, 8px) var(--hsFidelidade--spacing--24, 24px) var(--hsFidelidade--spacing--8, 8px) var(--hsFidelidade--spacing--12, 12px);
      color: var(--hsFidelidade--siteHeader__menuTextColor);
      text-decoration: none;
    }

    a:hover {
      color: var(--hsFidelidade--siteHeader__hover--menuTextColor);
      text-decoration: none;
    }

    &[data-hs-fidelidade-menuitem-depth='2'] {
      :global(.hs-fidelidade-menu__arrow) {
        /* stylelint-disable-line selector-pseudo-class-no-unknown */
        right: var(--hsFidelidade--spacing--8, 8px);
        display: inline-flex;
        align-items: center;
      }
    }

    :global(.hs-fidelidade-menu__arrow) {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      position: absolute;
      top: 50%;
      right: var(--hsFidelidade--spacing--12, 12px);
      display: inline;
      pointer-events: none;
      transform: translateY(-50%);

      :global(.hs-fidelidade-menu__arrow-path) {
        /* stylelint-disable-line selector-pseudo-class-no-unknown */
        fill: var(--hsFidelidade--siteHeader__menuTextColor);
      }
    }
  }

  ul {
    border-color: var(--hsFidelidade--siteHeader__menuAccentColor);
    background-color: var(--hsFidelidade--siteHeader__menuBackgroundColor);
  }

  :global(.hs-fidelidade-menu__menu-item-link-container) {
    /* stylelint-disable-line selector-pseudo-class-no-unknown */
    background-color: var(--hsFidelidade--siteHeader__menuBackgroundColor);
  }

  [data-hs-fidelidade-menuitem-depth='1'] {
    > :global(.hs-fidelidade-menu__menu-item-link-container):hover {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      background-color: var(--hsFidelidade--siteHeader__menuBackgroundColor);
    }

    li :global(.hs-fidelidade-menu__menu-item-link-container):hover {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      background-color: var(--hsFidelidade--siteHeader__menuAccentColor);
    }

    > ul {
      filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 5%));
    }

    > :global(.hs-fidelidade-menu__menu-item-link-container) {
      /* stylelint-disable-line selector-pseudo-class-no-unknown */
      > :global(.hs-fidelidade-menu__arrow) {
        /* stylelint-disable-line selector-pseudo-class-no-unknown */
        transform: translateY(-50%) rotate(90deg);
      }
    }

    @media (width <= 1100px) {
      &:last-of-type {
        > ul {
          right: 0;
          left: initial;

          ul {
            right: calc(100% + var(--hsFidelidade--spacing--12, 12px));
            left: initial;
          }
        }
      }
    }
  }

  @media (width <= 1100px) {
    display: none;
  }
}

.hs-fidelidade-site-header--has-language-switcher .hs-fidelidade-site-header__main-nav {
  @media (width <= 1215px) {
    display: none;
  }
}

.hs-fidelidade-site-header__language-switcher-container {
  @media (width <= 1215px) {
    display: none;
  }
}

.hs-fidelidade-site-header__button-container {
  display: none;
  flex: 0 1 auto;

  @media (width >= 460px) {
    display: block;
    margin-left: auto;
  }

  @media (width >= 769px) {
    flex: 0 0 auto;
  }
}

.hs-fidelidade-site-header__mobile-menu-container {
  display: none;

  @media (width <= 1100px) {
    display: block;
  }
}

.hs-fidelidade-site-header--has-language-switcher .hs-fidelidade-site-header__mobile-menu-container {
  @media (width <= 1215px) {
    display: block;
  }
}
