ul.hs-fidelidade-language-switcher__language-list {
  height: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hs-fidelidade-language-switcher__language-item {
  padding: 0;
  border-radius: 0;
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.hs-fidelidade-language-switcher__language-item--active {
  background-color: var(--hsFidelidade--languageSwitcher__hover--backgroundColor, transparent);
}

.hs-fidelidade-language-switcher__language-item .hs-fidelidade-language-switcher__language-link {
  display: flex;
  padding: var(--hsFidelidade--spacing--12, 12px) var(--hsFidelidade--spacing--16, 16px);
  align-items: center;
  color: var(--hsFidelidade--languageSwitcher__textColor, #1e293b);
  font-size: var(--hsFidelidade--languageSwitcher__fontSize, 18px);
  font-weight: 600;
  gap: var(--hsFidelidade--spacing--12, 12px);
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:focus,
  &:active,
  &:visited,
  &:hover {
    color: var(--hsFidelidade--languageSwitcher__textColor, #1e293b);
    text-decoration: none;
  }

  &:hover {
    background-color: var(--hsFidelidade--languageSwitcher__hover--backgroundColor, #f1f5f9);
  }
}
