.hs-fidelidade-site-header__back-button {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: var(--hsFidelidade--spacing--48);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: var(--hsFidelidade--link--primary__fontColor);
  cursor: pointer;
  transform: translateY(-50%);

  &:hover {
    color: var(--hsFidelidade--link--primary__hover--fontColor);

    svg path {
      fill: var(--hsFidelidade--link--primary__hover--fontColor);
    }
  }

  svg {
    margin-inline-end: var(--hsFidelidade--spacing--8);
    transform: rotate(180deg);

    path {
      fill: var(--hsFidelidade--link--primary__fontColor);
    }
  }
}

.hs-fidelidade-site-header__logo-link {
  pointer-events: initial;
}

.hs-fidelidade-site-header__back-button-container--show-back-button .hs-fidelidade-site-header__logo-link {
  pointer-events: none;
}

.hs-fidelidade-site-header__logo {
  display: block;
  max-height: 75px;
  width: auto;
  max-width: min(250px, 100%);
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: auto;
  visibility: visible;

  @media (width >= 769px) {
    max-width: 250px;
  }
}

.hs-fidelidade-site-header__logo:not(.hs-fidelidade-site-header__logo--is-svg) {
  height: auto;
}

.hs-fidelidade-site-header__back-button-container--show-back-button .hs-fidelidade-site-header__logo {
  pointer-events: none;
  visibility: hidden;
}

.hs-fidelidade-site-header__logo-link-screen-reader {
  position: absolute;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.hs-fidelidade-site-header__back-button-container--show-back-button .hs-fidelidade-site-header__logo-link-screen-reader {
  display: none;
}

.hs-fidelidade-site-header__company-name {
  display: block;
  max-width: min(250px, 45vw);
  font-size: 1.3rem;
  overflow-wrap: anywhere;
  white-space: break-spaces;

  @media (width >= 576px) {
    font-size: 1.6rem;
  }

  @media (width >= 768px) {
    font-size: 1.8rem;
  }
}
