.hs-fidelidade-button:focus {
  outline: 2px solid #53ACFF;
  outline-offset: 2px;
}

.hs-fidelidade-button--primary {
  font-family: var(--hsFidelidade--button--primary__font);
  font-size: var(--hsFidelidade--button--primary__fontSize);
  font-weight: var(--hsFidelidade--button--primary__fontWeight);
  font-style: var(--hsFidelidade--button--primary__fontStyle);
  color: var(--hsFidelidade--button--primary__textColor);
  border-width: var(--hsFidelidade--button--primary__borderThickness);
  background-color: var(--hsFidelidade--button--primary__backgroundColor);
  border-style: solid;
  border-color: var(--hsFidelidade--button--primary__borderColor);
  border-radius: var(--hsFidelidade--button--primary__borderRadius);
  text-decoration: none;
}

.hs-fidelidade-button--primary:hover {
  color: var(--hsFidelidade--button--primary__hover--textColor);
  background-color: var(--hsFidelidade--button--primary__hover--backgroundColor);
  border-color: var(--hsFidelidade--button--primary__hover--borderColor);
  border-width: var(--hsFidelidade--button--primary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--primary:active {
  color: var(--hsFidelidade--button--primary__hover--textColor);
  background-color: {{ primary_button_active_background_color }};
  border-color: {{ primary_button_active_border_color }};
  border-width: var(--hsFidelidade--button--primary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--secondary {
  font-family: var(--hsFidelidade--button--secondary__font);
  font-size: var(--hsFidelidade--button--secondary__fontSize);
  font-weight: var(--hsFidelidade--button--secondary__fontWeight);
  font-style: var(--hsFidelidade--button--secondary__fontStyle);
  color: var(--hsFidelidade--button--secondary__textColor);
  border-width: var(--hsFidelidade--button--secondary__borderThickness);
  background-color: var(--hsFidelidade--button--secondary__backgroundColor);
  border-style: solid;
  border-color: var(--hsFidelidade--button--secondary__borderColor);
  border-radius: var(--hsFidelidade--button--secondary__borderRadius);
  text-decoration: none;
}

.hs-fidelidade-button--secondary:hover {
  color: var(--hsFidelidade--button--secondary__hover--textColor);
  background-color: var(--hsFidelidade--button--secondary__hover--backgroundColor);
  border-color: var(--hsFidelidade--button--secondary__hover--borderColor);
  border-width: var(--hsFidelidade--button--secondary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--secondary:active {
  color: var(--hsFidelidade--button--secondary__hover--textColor);
  background-color: {{ secondary_button_active_background_color }};
  border-color: {{ secondary_button_active_border_color }};
  border-width: var(--hsFidelidade--button--secondary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--tertiary {
  font-family: var(--hsFidelidade--button--tertiary__font);
  font-size: var(--hsFidelidade--button--tertiary__fontSize);
  font-weight: var(--hsFidelidade--button--tertiary__fontWeight);
  font-style: var(--hsFidelidade--button--tertiary__fontStyle);
  color: var(--hsFidelidade--button--tertiary__textColor);
  border-width: var(--hsFidelidade--button--tertiary__borderThickness);
  background-color: var(--hsFidelidade--button--tertiary__backgroundColor);
  border-style: solid;
  border-color: var(--hsFidelidade--button--tertiary__borderColor);
  border-radius: var(--hsFidelidade--button--tertiary__borderRadius);
  text-decoration: none;
}

.hs-fidelidade-button--tertiary:hover {
  color: var(--hsFidelidade--button--tertiary__hover--textColor);
  background-color: var(--hsFidelidade--button--tertiary__hover--backgroundColor);
  border-color: var(--hsFidelidade--button--tertiary__hover--borderColor);
  border-width: var(--hsFidelidade--button--tertiary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--tertiary:active {
  color: var(--hsFidelidade--button--tertiary__hover--textColor);
  background-color: {{ tertiary_button_active_background_color }};
  border-color: {{ tertiary_button_active_border_color }};
  border-width: var(--hsFidelidade--button--tertiary__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--accent {
  font-family: var(--hsFidelidade--button--accent__font);
  font-size: var(--hsFidelidade--button--accent__fontSize);
  font-weight: var(--hsFidelidade--button--accent__fontWeight);
  font-style: var(--hsFidelidade--button--accent__fontStyle);
  color: var(--hsFidelidade--button--accent__textColor);
  border-width: var(--hsFidelidade--button--accent__borderThickness);
  background-color: var(--hsFidelidade--button--accent__backgroundColor);
  border-style: solid;
  border-color: var(--hsFidelidade--button--accent__borderColor);
  border-radius: var(--hsFidelidade--button--accent__borderRadius);
  text-decoration: none;
}

.hs-fidelidade-button--accent:hover {
  color: var(--hsFidelidade--button--accent__hover--textColor);
  background-color: var(--hsFidelidade--button--accent__hover--backgroundColor);
  border-color: var(--hsFidelidade--button--accent__hover--borderColor);
  border-width: var(--hsFidelidade--button--accent__hover--borderThickness);
  text-decoration: none;
}

.hs-fidelidade-button--accent:active {
  color: var(--hsFidelidade--button--accent__hover--textColor);
  background-color: {{ accent_button_active_background_color }};
  border-color: {{ accent_button_active_border_color }};
  border-width: var(--hsFidelidade--button--accent__hover--borderThickness);
  text-decoration: none;
}
