.hs-fidelidade-metrics__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--hsFidelidade--spacing--32, 32px);
}

.hs-fidelidade-metrics--bootstrap {
  container-type: inline-size;

  @container (min-width: 700px) {
    .hs-fidelidade-metrics__container--count-2,
    .hs-fidelidade-metrics__container--count-4 {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--hsFidelidade--spacing--24, 24px);
    }
  }

  @container (min-width: 900px) {
    .hs-fidelidade-metrics__container--count-3 {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--hsFidelidade--spacing--24, 24px);
    }
  }

  @container (min-width: 950px) {
    .hs-fidelidade-metrics__container--count-4 {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--hsFidelidade--spacing--16, 16px);
    }
  }
}

.hs-fidelidade-metrics--grids {
  @media (width >= 700px) {
    .hs-fidelidade-metrics__container--count-2,
    .hs-fidelidade-metrics__container--count-4 {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--hsFidelidade--spacing--24, 24px);
    }
  }

  @media (width >= 900px) {
    .hs-fidelidade-metrics__container--count-3 {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--hsFidelidade--spacing--24, 24px);
    }
  }

  @media (width >= 950px) {
    .hs-fidelidade-metrics__container--count-4 {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--hsFidelidade--spacing--16, 16px);
    }
  }
}

.hs-fidelidade-metrics__metric {
  display: flex;
  min-width: 0;
  flex-direction: column;
  align-items: center;
}

.hs-fidelidade-metrics__metric-number {
  max-width: 100%;
  color: var(--hsFidelidade--metrics__accentColor);
  font-size: clamp(var(--hsFidelidade--metrics__minFontSize), calc(1vw + var(--hsFidelidade--metrics__minFontSize)), var(--hsFidelidade--metrics__maxFontSize));
  line-height: var(--hsFidelidade--heading__lineHeight);
  text-align: center;
}

.hs-fidelidade-metrics__metric-description {
  max-width: 100%;
  color: var(--hsFidelidade--metrics__textColor);
  text-align: center;
}
